<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="COMMON" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/common.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.incretio.cozy_time_tracker_server" level="debug"/>

    <root level="info">
        <appender-ref ref="COMMON"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
